.payment_method_4all {

}
.payment_method_4all .form-row {
  margin-bottom: 10px;
}
.payment_method_4all .form-row-installment {

}
.payment_method_4all .form-row-installment select {
  border: 1px solid #DDD;
  border-radius: 2px;
  background: #f0f0f0;
  display: inline-block;
  width: auto;
  cursor: pointer;
  padding: 9px;
  min-width: 50px;
  margin-bottom: 0px !important;
}
.payment_method_4all .sub-description {
  color: #a5a5a9db;
  font-size: 14px;
  margin-top: -5px;
  margin-bottom: 10px;
}
.payment_method_4all .form-row-brands {
  display: block;
  overflow: hidden;
  position: relative;
  padding: 6px 0;
}
.payment_method_4all .form-row-brands img {
  display: inline-block;
  vertical-align: middle;
  filter: grayscale(100%);
  opacity: .5;
  width: auto;
  height: auto;
}
.payment_method_4all .form-row-brands img.active {
  filter: grayscale(0);
  opacity: 1;
}
.payment_method_4all .form-row-brands img {
  float: none;
  margin: 1px 4px;
}

.payment_method_4all .alert {
  border: 0.5px solid #ff0000;
}

.payment_method_4all .disabled {
  background-color: rgb(214, 214, 214);
  cursor: not-allowed;
}
.payment_method_4all .buttons-box {
  margin-top: 20px;
}
.payment_method_4all .total-box {
  margin-top: 20px;
  background-color: #F3F3F4;
  text-align: right;
  display: block;
  font-size: 1.5rem;
}
.payment_method_4all .total-value {
  font-size: 1.5rem;
  margin: 10px;
}
.payment_method_4all .custom-button{
  float: left;
  padding: 18px 38px 18px 38px;
  color: #737377db !important;
  border: 0.5px solid #737377db !important;
  background: #fff !important;
  font-size: 1rem;
}
.payment_method_4all .custom-button:hover {
  color: #fff !important;
  border-color: #a5a5a9db !important;
  background: #a5a5a9db !important;
}
.payment_method_4all .pay-button {
  float: right !important;
}
label[for='payment_method_4all'] img{
  height: auto;
  width: 100px;
  margin-top: -2px;
  margin-left: 22px;
}
.error-box {
  margin-top: 20px;
  margin-bottom: 22px;
  background-color: #fff2f3;
  border: 1px solid #cc717a;
  border-radius: 4px;
  padding: 10px;
}
.error-box p {
  margin: 0px;
}
.error-box .error-title{
  color: #721c24;
}
